.box {
    background-color: aqua;
    margin: 50px;
    /*transform: translate(10px,20px);
    transform: rotate(90deg);
    transform: rotate(-90deg);
    transform: scale(1,1);
    transform: skew(45deg);
    transform: skew(-45deg);*/
    transform: matrix(1, -0.3, 0, 1, 0, 0);

}