.box {
    position: relative;
}

/* top
.text {
    position: relative;
    color: white;
    font-size: 15px;
    top: 30px;
    left: 1px; 
}*/
/* top-right
.text {
    position: relative;
    color: white;
    font-size: 15px;
    top: 30px;
    left: 116px; 
}*/
/* bottom
.text {
    position: relative;
    color: white;
    font-size: 15px;
    top: 168px;
}*/ 
/* bottom-right
.text {
    position: relative;
    color: white;
    font-size: 15px;
    top: 168px;
    left: 117px;
}*/
.text {
    position: relative;
    color: white;
    top: 100px;
    left: 50px;
}